<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Total Number of Victims</th>
      <th>Total Number of Accused</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "homicide").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>