<p id="notice"><%= notice %></p>

<h3>
  Welcome to ScotCrime
</h3>

<p>
  ScotCrime is a website where you can read and compare a wide range of statistics from the Scottish legal system. All of the data used
  on this website is Open Data taken from the website of the <a href="http://www.gov.scot/Topics/Statistics/Browse/Crime-Justice?utm_source=website&utm_medium=navigation&utm_campaign=statistics-topics">Scottish Government</a>. You can use the links above to navigate the website and
  view the various data sets. If you have any questions about ScotCrime or the data that we display, don't hesitate to contact us using 
  the form below.
</p>

<h2>Import Statistics</h2>

<%= form_tag import_statistics_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import" %>
<% end %>

<br>


