<h3>
  Civil Cases Initiated (by Court)
</h3>

<p>
  The total number of civil law cases initiated in Scottish Courts, sorted by the type of court
  that the case was initiated in.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Sheriff Courts</th>
      <th>Court of Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "initiatedcourt").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

