<h3>
  Liquor Licenses
</h3>

<p>
  The number of Liquor Licenses issued in Scotland, sorted by the local authority area in which
  they were issued.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Local Authority Area</th>
      <th>Number of Licenses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "liquor").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

