<h3>
  Drug Seizures 1996-2007
</h3>

<p>
  The total number of drug seizures carried out by the Police in Scotland from 1996-2007.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Number of Seizures</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "seizures1996").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

