<h3>
  Summary Court Cases
</h3>

<p>
  The percentage of court cases in Scotland that were dealt with within 26 weeks.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Percentage (%)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "summary").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>