<h3>
  Crime Victimisation
</h3>

<p>
  The proportion of Scottish Crime Survey respondents that reported having been a victim of 1 or more crimes.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Percentage (%)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "victimisation").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1 %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>