<h3>
  Volume of Crime
</h3>

<p>
  The total number of crimes recorded by the Police in Scotland.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Crimes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "volume").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>